@import "tailwindcss";

@theme inline {
  --color-decoration: var(--decoration);
  --color-primary-text: var(--text-color);
  --color-badge: var(--badge);
}
:root {
  --bg-background: rgb(255, 255, 255);
  --text-color: rgb(41, 41, 41);
  --decoration: rgb(255, 115, 0);
  --badge: rgba(0, 0, 0, 0.144);
}
.dark {
  --bg-background: rgb(11, 12, 15);
  --text-color: rgb(206, 206, 206);
  --decoration: rgb(96, 223, 115);
  --badge: rgba(255, 255, 255, 0.235);
}

body {
  background: var(--bg-background);
  color: var(--text-color);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-new(root) {
  clip-path: circle(0 at var(--x) var(--y));
  animation: reveal 1200ms ease forwards;
  animation-delay: 50ms;
}

@keyframes reveal {
  to {
    clip-path: circle(150vmax at var(--x) var(--y));
  }
}
